@using SCMS.Portal.Web.Views.Bases.Cards
@using SCMS.Portal.Web.Views.Components.Containers
@using SCMS.Portal.Web.Views.Bases.TextBoxes
@using SCMS.Portal.Web.Views.Bases.DatePickers
@using SCMS.Portal.Web.Views.Bases.Labels
@using SCMS.Portal.Web.Views.Bases.Buttons

<div class="card-container">
    <CardBase Title="New Student Registration"
              SubTitle="Please fill the below form">
        <Content>
            <ContainerComponent State=@State>
                <Content>
                    <div>
                        <TextBoxBase @ref=@FirstNameTextBox
                                     @bind-Value=@StudentView.FirstName
                                     Placeholder="First Name"/>
                        <br/>
                        <TextBoxBase @ref=LastNameTextBox
                                     @bind-Value=@StudentView.LastName
                                     Placeholder="Last Name"/>
                        <br/>
                        <br/>
                        <br/>
                        <DatePickerBase @ref=@DateOfBirthPicker
                                        @bind-Value=@StudentView.DateOfBirth/>
                        <br/>
                        <LabelBase @ref=@StatusLabel/>
                    </div>
                </Content>
            </ContainerComponent>
        </Content>
        <Footer>
            <ButtonBase @ref=@RegisterButton
                        Label="Register"
                        OnClick=@RegisterStudentAsync/>
        </Footer>
    </CardBase>
</div>