@using SCMS.Portal.Web.Models.Views.Foundations.StudentViews
@using SCMS.Portal.Web.Views.Bases.Cards
@using SCMS.Portal.Web.Views.Components.Containers
@using SCMS.Portal.Web.Views.Bases.TextBoxes
@using SCMS.Portal.Web.Views.Bases.DatePickers
@using SCMS.Portal.Web.Views.Bases.Labels
@using SCMS.Portal.Web.Views.Bases.Buttons
@using SCMS.Portal.Web.Views.Bases.Dropdowns.Selects;
@using SCMS.Portal.Web.Views.Components.SchoolSelections;

<div class="card-container">
    <CardBase Title="New Student Registration"
              SubTitle="Please fill the below form">
        <Content>
            <ContainerComponent State=@State>
                <Content>
                    <div>
                        <TextBoxBase @ref=@FirstNameTextBox
                                     @bind-Value=@StudentView.FirstName
                                     Placeholder="First Name"/>
                        <br/>
                        <TextBoxBase @ref=@LastNameTextBox
                                     @bind-Value=@StudentView.LastName
                                     Placeholder="Last Name"/>
                        <br/>
                        <br/>
                        <DatePickerBase @ref=@DateOfBirthPicker
                                        @bind-Value=@StudentView.DateOfBirth
                                        Placeholder="Date of Birth"/>
                        <br/>
                        <br/>
                        <LabelBase @ref=@GenderLabel Value="Gender"/>
                        <DropdownSelectBase @ref=@GenderDropdown
                                            @bind-Value=@StudentView.Gender
                                            TEnum="StudentGenderView"/>
                        <br/>
                        <br/>
                        <TextBoxBase @ref=@FideIdTextBox
                                     @bind-Value=@StudentView.FideId
                                     Placeholder="Fide Id"/>
                        <br/>
                        <TextBoxBase @ref=@NotesTextBox
                                     @bind-Value=@StudentView.Notes
                                     Placeholder="Notes"/>
                        <br/>
                        <br/>
                        <SchoolSelectionComponent @ref=@SchoolSelectionComponent/>
                        <LabelBase @ref=@StatusLabel/>
                    </div>
                </Content>
            </ContainerComponent>
        </Content>
        <Footer>
            <ButtonBase @ref=@NextButton
                        Label="Register"
                        OnClick=@RegisterStudentAsync/>
        </Footer>
    </CardBase>
</div>